<!DOCTYPE html>
<html>
  <head>
    <title>TEMPERATURAS VIANNA</title>
    <!-- IMPORTS FROM CSS3 -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- IMPORTS FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
  </head>
  <body>
		<div id='apiYahoo' class="container mainContent">
			<div class="row">
				<h1 class='title text-center'>Previsão do Tempo</h1>
			</div>

			<div class='row'>
				<transition name='fade'>
					<div class='api' v-if='seen'>
						<center>
							<div class='col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 weatherPanel '>
								<p class='mainCity'>{{mainCity}}</p>
								<p class='text-right'>
                  <button type="submit" class = 'exitButton'
                    v-on:click="exit += 1, seen = !seen"><i class='glyphicon glyphicon-remove'></i>
                  </button>
                </p>
								<h1 class='mainTemperature'>{{mainTemperature}} {{mainState}}</h1>
								<div class='informations'>
									<div class='row informationRow'>
										<p class='temperature'><i class='glyphicon glyphicon-arrow-down'></i> {{mainLowTemp}}  <i class='glyphicon glyphicon-arrow-up'></i> {{mainHighTemp}}</p>
										<p class='sensa'>Sensação <strong>{{mainSensation}}</strong></p>
									</div>
									<div class='row informationRow'>
										<p class='wind'>Vento <strong>{{mainSpeed}}</strong></p>
										<p class='water'> Humidade <strong>{{mainHumidity}}</strong></p>
									</div>
								</div>
								<hr width="400" class='panelLine'>
								<ul class='list-inline text-center daysTemperatures'>
									<li>{{firstDay}}
										<ul class='list-inline listTemperatures'>
											<li>{{firstDayLowTemp}}</li>
											<li>{{firstDayHighTemp}}</li>
										</ul>
									</li>
									<li>{{secondDay}}
										<ul class='list-inline listTemperatures'>
											<li>{{secondDayLowTemp}}</li>
											<li>{{secondDayHighTemp}}</li>
										</ul>
									</li>
									<li>{{thirdDay}}
										<ul class='list-inline listTemperatures'>
											<li>{{thirdDayLowTemp}}</li>
											<li>{{thirdDayHighTemp}}</li>
										</ul>
									</li>
									<li>{{fourthDay}}
										<ul class='list-inline listTemperatures'>
											<li>{{fourthDayLowTemp}}</li>
											<li>{{fourthDayHighTemp}}</li>
										</ul>
									</li>
									<li>{{fifthDay}}
										<ul class='list-inline listTemperatures'>
											<li>{{fifthDayLowTemp}}</li>
											<li>{{fifthDayHighTemp}}</li>
										</ul>
									</li>
								</ul>
							</div>
						</center>
					</div>
				</transition>
			</div>

			<div class='row'>
				<transition name='fade'>
					<div class='col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 searchError' v-if='searchError'>
						<h3 class='text-center'>{{searchErrorMessage}}</h3>
					</div>
				</transition>
			</div>

			<div class="row">
				<center>
				 <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
					 <div class="input-group stylish-input-group">
						 <input type="search" class="form-control"  placeholder="Insira aqui o nome da cidade" v-model="cityInput" v-on:keyup.enter="counter += 1">
							<span class="input-group-addon">
								<button type="submit" v-on:click="counter += 1">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
				</center>
			</div>

			<div class='row'>
				<div class='text-center'>
  				<p>
            <hr width="800" class='middleLine visible-md'>
  					<hr width='630' class='middleLine hidden-md'>
          </p>
				</div>
			</div>

			<div class='row'>
	      <h2 class='text-center capitais'>Capitais</h2>
			</div>

			<div class='row capitais_list'>
				<div class='col-md-3 col-md-offset-3 col-sm-5 col-sm-offset-1'>
					<ul class='list-inline'>
						<li><p>Min</p>
							<ul class='list-unstyled list-min-1'>
								<li>{{firstCapitalLow}}</li>
								<li>{{secondCapitalLow}}</li>
								<li>{{thirdCapitalLow}}</li>
								<li>{{fourthCapitalLow}}</li>
								<li>{{fifthCapitalLow}}</li>
							</ul>
						</li>
						<li><p>Max</p>
							<ul class='list-unstyled list-max-1'>
								<li>{{firstCapitalHigh}}</li>
								<li>{{secondCapitalHigh}}</li>
								<li>{{thirdCapitalHigh}}</li>
								<li>{{fourthCapitalHigh}}</li>
								<li>{{fifthCapitalHigh}}</li>
							</ul>
						</li>
						<li>
							<ul class='list-unstyled list-cities-1'>
								<li> </li>
								<li>{{firstCapital}}</li>
								<li>{{secondCapital}}</li>
								<li>{{thirdCapital}}</li>
								<li>{{fourthCapital}}</li>
								<li>{{fifthCapital}}</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class='col-md-3 col-sm-5'>
					<ul class='list-inline'>
						<li><p>Min</p>
							<ul class='list-unstyled list-min-2'>
								<li>{{sixthCapitalLow}}</li>
								<li>{{seventhCapitalLow}}</li>
								<li>{{eighthCapitalLow}}</li>
								<li>{{ninthCapitalLow}}</li>
								<li>{{tenthCapitalLow}}</li>
							</ul>
						</li>
						<li><p>Max</p>
							<ul class='list-unstyled list-max-2'>
								<li>{{sixthCapitalHigh}}</li>
								<li>{{seventhCapitalHigh}}</li>
								<li>{{eighthCapitalHigh}}</li>
								<li>{{ninthCapitalHigh}}</li>
								<li>{{tenthCapitalHigh}}</li>
							</ul>
						</li>
						<li>
							<ul class='list-unstyled list-cities-2'>
								<li> </li>
								<li>{{sixthCapital}}</li>
								<li>{{seventhCapital}}</li>
								<li>{{eighthCapital}}</li>
								<li>{{ninthCapital}}</li>
								<li>{{tenthCapital}}</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
    </div>

		<footer>
		</footer>

  </body>
  <!-- IMPORTS FROM JAVASCRIPT -->
	<script src='js/jquery-3.1.1.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
	<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src="js/main.js"></script>
	<!-- LOAD MASK -->
	<script type="text/javascript">
		document.getElementById("apiYahoo").style.display = "block";
	</script>
</html>
